$max-width: 1440px;
$margin-inline: 2rem;

.container {
  --max-width: #{$max-width};
  --margin-inline: #{$margin-inline} / 2;
  width: min(var(--max-width), 100% - var(--margin-inline));
  margin-inline: auto;
}
